.topPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    margin: 0 2.2rem 0 2.2rem;
}

.css-1gywuxd-MuiInputBase-root-MuiOutlinedInput-root {
    border-color: #fff;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    color: #fff;
}
